In [1]:
#Cloning into our Github
!git clone "https://github.com/teagankryan/DS_Project"

Cloning into 'DS_Project'...
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (5/5), done.
remote: Total 6 (delta 0), reused 6 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (6/6), done.
Filtering content: 100% (3/3), 1.35 GiB | 39.38 MiB/s, done.

In [25]:
#Reading TSV Files
import pandas as pd

basics = pd.read_csv("../data/title.basics.tsv", sep="\t", na_values="\\N", dtype=str)
ratings = pd.read_csv("../data/title.ratings.tsv", sep="\t", na_values="\\N", dtype=str)
crew = pd.read_csv("../data/title.crew.tsv", sep="\t", na_values="\\N", dtype=str)

KeyboardInterrupt:

In [26]:
#Coercing numerical categories to numeric
basics["startYear"] = pd.to_numeric(basics["startYear"], errors="coerce")
basics["runtimeMinutes"] = pd.to_numeric(basics["runtimeMinutes"], errors="coerce")
ratings["averageRating"] = pd.to_numeric(ratings["averageRating"], errors="coerce")
ratings["numVotes"] = pd.to_numeric(ratings["numVotes"], errors="coerce")

In [31]:
#Merging into one Dataset
df = basics.merge(ratings, on="tconst").merge(crew, on="tconst")

In [32]:
#Filtering mvoies only and dropping rows with missing values
df = df[df["titleType"] == "movie"]
df = df.dropna(subset=["startYear", "runtimeMinutes", "averageRating"])

In [33]:
#Splitting Genre's into lists
df["genres"] = df["genres"].fillna("").apply(lambda g: g.split(",") if g else [])

print(df.head())
print(df.info())

        tconst titleType                   primaryTitle  \
8    tt0000009     movie                     Miss Jerry
144  tt0000147     movie  The Corbett-Fitzsimmons Fight
343  tt0000502     movie                       Bohemios
379  tt0000574     movie    The Story of the Kelly Gang
390  tt0000591     movie               The Prodigal Son

                     originalTitle isAdult  startYear endYear  runtimeMinutes  \
8                       Miss Jerry       0     1894.0     NaN            45.0
144  The Corbett-Fitzsimmons Fight       0     1897.0     NaN           100.0
343                       Bohemios       0     1905.0     NaN           100.0
379    The Story of the Kelly Gang       0     1906.0     NaN            70.0
390              L'enfant prodigue       0     1907.0     NaN            90.0

                             genres  averageRating  numVotes  directors  \
8                         [Romance]            5.4       228  nm0085156
144      [Documentary, News, Sport]            5.2       570  nm0714557
343                              []            3.6        22  nm0063413
379  [Action, Adventure, Biography]            6.0      1023  nm0846879
390                         [Drama]            5.3        34  nm0141150

                           writers
8                        nm0085156
144                            NaN
343  nm0063413,nm0657268,nm0675388
379                      nm0846879
390                      nm0141150
<class 'pandas.core.frame.DataFrame'>
Index: 302324 entries, 8 to 1617840
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          302324 non-null  object
 1   titleType       302324 non-null  object
 2   primaryTitle    302324 non-null  object
 3   originalTitle   302324 non-null  object
 4   isAdult         302324 non-null  object
 5   startYear       302324 non-null  float64
 6   endYear         0 non-null       object
 7   runtimeMinutes  302324 non-null  float64
 8   genres          302324 non-null  object
 9   averageRating   302324 non-null  float64
 10  numVotes        302324 non-null  int64
 11  directors       299952 non-null  object
 12  writers         269897 non-null  object
dtypes: float64(3), int64(1), object(9)
memory usage: 32.3+ MB
None

In [ ]:
# Saving the cleaned dataset to CSV
df.to_csv("imdb_clean.csv", index=False, encoding="utf-8")

# Further filtering for analysis
df = df[df["titleType"] == "movie"]
df = df.dropna(subset=["startYear", "runtimeMinutes", "averageRating"])
df = df[df["numVotes"] >= 500]      # At least 500 votes
df = df[df["startYear"] >= 2000]     # Released after 2000

# Splitting into training and test sets
train_df = df[(df["startYear"] >= 2000) & (df["startYear"] <= 2020)]
test_df = df[(df["startYear"] > 2020) & (df["startYear"] <= 2025)]

# Displaying the sizes of the datasets
print(f"Full dataset: {df.shape[0]} rows")
print(f"Training set: {train_df.shape[0]} rows")
print(f"Test set: {test_df.shape[0]} rows")

<class 'pandas.core.frame.DataFrame'>
Index: 302324 entries, 8 to 1617840
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          302324 non-null  object
 1   titleType       302324 non-null  object
 2   primaryTitle    302324 non-null  object
 3   originalTitle   302324 non-null  object
 4   isAdult         302324 non-null  object
 5   startYear       302324 non-null  float64
 6   endYear         0 non-null       object
 7   runtimeMinutes  302324 non-null  float64
 8   genres          302324 non-null  object
 9   averageRating   302324 non-null  float64
 10  numVotes        302324 non-null  int64
 11  directors       299952 non-null  object
 12  writers         269897 non-null  object
dtypes: float64(3), int64(1), object(9)
memory usage: 32.3+ MB
None
Full dataset: 43816 rows
Training set: 34070 rows
Test set: 9746 rows